Source: gmpc-plugins
Section: sound
Priority: optional
Maintainer: Etienne Millon <etienne.millon@gmail.com>
Standards-Version: 3.9.2
Build-Depends:
 debhelper (>= 7.0.50~),
 gmpc-dev (>=11.8.16),
 gob2,
 intltool,
 libavahi-client-dev,
 libavahi-glib-dev,
 libcurl4-gnutls-dev,
 libdbus-glib-1-dev,
 libglade2-dev,
 libgtk2.0-dev,
 libicu-dev,
 libjson-glib-dev,
 liblircclient-dev,
 libmicrohttpd-dev (>= 0.4.0a-2),
 libmpd-dev (>=0.15.98),
 libsoup2.4-dev,
 libsqlite3-dev,
 libtagc0-dev,
 libxml2-dev,
 libxosd-dev,
 libwebkitgtk-dev,
 valac (>= 0.7.10)
Homepage: http://gmpc.wikia.com/

Package: gmpc-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gmpc (>= 11.8.16)
Description: Plugins for the GNOME Music Player Client
 gmpc-plugins is a set of plugins that enhance functionality of the GNOME
 Music Player Clients. Plugins are:
  - alarm, allows basic events to be scheduled
  - avahi, zeroconf profile scanning
  - coveramazon, disc cover fetcher from the internet
  - jamendo, Jamendo stream browser
  - lirc, remote control interface
  - lyrics, a lyrics fetcher from multiple sources
  - lyricwiki, add lyricwiki.org as lyrics source
  - magnatune, Magnatune stream browser
  - mdcover, display disc cover found in file metadata
  - osd, On screen display using xosd
  - shout, stream shout-cast

Package: gmpc-plugins-dbg
Section: debug
Priority: extra
Architecture: any
Depends: gmpc-plugins (= ${binary:Version}), ${misc:Depends}, gmpc-dbg
Description: Plugins for the GNOME Music Player Client (debugging symbols)
 This package contains debugging symbols for gmpc-plugins, which can be used
 to analyze crashes in gmpc.
